<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @switch_model.name %>
</p>

<%= link_to 'Edit', edit_switch_model_path(@switch_model) %> |
<%= link_to 'Back', switch_models_path %>
